h4 {
    font-weight: bold;
    margin-top: 20 px;
    color: #FF1493;
}
h3 {
    font-weight: bold;
    margin-top: 35px;
    color: #FF1493;
    align-content: center;
}

.btn-floating {
    padding: 5px 10px;
    background: #fff;
    margin: 10px 3px;
}